<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <title>注册</title>

    <!-- Bootstrap -->
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../../css/style.css"/>
    <!-- In-document CSS -->
    <style>
        /* ... */
    </style>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="app" v-cloak>
    <div class="container">
        <span id="message">{{ msg | json }}</span>
    </div>
    <div class="container">
        <div class="form-group">
            <label>电子邮箱</label>
            <input type="text" v-model="registerModel.email"/>
        </div>
        <div class="form-group">
            <label>密码</label>
            <input type="text" v-model="registerModel.password"/>
        </div>

        <div class="form-group">
            <label>确认密码</label>
            <input type="text" v-model="registerModel.confirmPassword"/>
        </div>

        <div class="form-group">
            <label></label>
            <button @click="register">注册</button>
        </div>
    </div>
</div>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<!-- vue js -->
<script src="https://cdn.bootcss.com/vue/2.4.0/vue.min.js"></script>
<!-- vue-resource js -->
<script src="https://cdn.bootcss.com/vue-resource/1.3.4/vue-resource.min.js"></script>
<!-- vue-router js -->
<script src="https://cdn.bootcss.com/vue-router/2.7.0/vue-router.min.js"></script>

<script>
    Vue.http.options.emulateJSON = true
    var demo = new Vue({
        el: '#app',
        data: {
            registerUrl: 'http://localhost:8080/user/',
            registerModel: {
                email: '',
                password: '',
                confirmPassword: ''
            },
            msg: ''
        },
        methods: {
            register: function () {
                this.$http.post(this.registerUrl, this.registerModel)
                        .then((response) => {
                    this.msg = '注册成功！'
                window.location.href='/html5/login.html';
            }).catch((response) => {
        this.msg = response.bodyText
    })
    }
    }
    })
</script>
</body>
</html>